 <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-body" style="text-align:center;">


          <h3> 感謝你願意在這裡分享百萬優質案件 </h3>

          <br><br>
          <h4> 百萬案件發包網是一個專門讓大家張貼優質的案件以及找到好團隊的外包發佈網站。 </h4>


          <br><br>

            <%= link_to("馬上來張貼好案件吧！", new_job_path, :class => "btn btn-lg btn-default btn-primary" ) %>
        <br><br>

            <p> <a href="#" style="color:#ccc; text-decoration:underline;" data-dismiss="modal"> 我改變心意了，我想貼的這個案件預算低於一百萬 </a> </p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->